body {
	background-color: #ffffff;
	margin: auto;
	width: auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Webcontainer {
	min-width: 470px;
	position: relative;
}

.error-message {
	color: red;
}

.head-class {
	position: relative;
	min-width: 465px;
	display: flex;
	align-items: center;
	justify-items: center;
	width: auto;
	margin:auto; 
	background-color: #17ac17;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: normal;
	width: fit-content;
	margin: auto;
	position: relative;
}

.navbar-menu {
	background-color: transparent;
	display: flex;
}

.navbar-menu a {
	width: max-content;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	margin:auto;
	align-content: center;
	display: flex;
	text-align: center;
	text-decoration: none;
	padding: 2px;
	padding-right: 18px;
	padding-left: 18px;
}

.menu-icon {
	display: none;
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: 24px;
	margin: auto;
	z-index: 2;
}

.bar {
	margin: 0px;
	padding: 0px;
	width: auto;
	padding: 0px;
	color: green;
	font-weight: bolder;
	font-size: x-large;
	margin: auto;
}

.navbar-menu a:hover {
	border-bottom: 2px solid white;
	color: rgb(23, 172, 23);
	height: 22px;
	border-radius: 15px;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

form {
  font-family: Arial;
  text-align: left;
  height: auto;
  width: auto;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
  width: 100%;
  font-family: Yu Gothic UI Semibold;
  font-size: 15px;
  background-color: white;
  color: #000000;
  padding: 12px;
  border-radius: 4px;
  margin: 8px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid #696969;
  box-sizing: border-box;
  height: 45px;
  outline-color: #17ac17;
}

button {
  background-color: #17ac17;
  color: white;
  padding: 12px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 35%;
  height: 42px;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  box-shadow: #000000 0px 0px 3px 0px;
}

button:hover {
  opacity: 0.9567;
  background-color: white;
  color: #17ac17;
}

.imgcontainer1 {
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 20px;
  position: relative;
}

.container2 {
  padding: 0px;
  margin: auto;
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
  border-radius: 12px;
}

.container {
  padding: 24px;
  margin:auto;
  width: 650px;
  height: auto;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form_contain {
  position: relative;
  padding: 0px;
  margin: auto;
  width: 100%;
  margin-bottom: 4%;
}

.form_contain_text {
	padding: 0px;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0px;
	margin: auto;
	margin-left: 4px;
}

.dropdown_content {
	display: none;
	position: absolute;
	min-width: 100px;
	width: 100%;
	z-index: 1;
	border-radius: 8px;
	background-color: #fff;
}

.dropdown_content option {
	color: #000000;
	padding: 8px;
	text-decoration: none;
	display: block;
	z-index: -1;
	background-color: #fff;
	border-radius: 8px;
	height: auto;
	overflow-y: auto;
	width: auto;
	cursor: pointer;
}

.dropdown_content option:hover {
	background-color: #bbbbbb;
}

#dept {
	margin-bottom: 0px;
}

#level {
	margin-bottom: 0px;
}

#gender {
	margin-bottom: 0px;
}

@media (max-width: 725px) {
  body {
	min-width: auto;
	width: 425px;
  }

  .Webcontainer {
	min-width: 395px;
	width: 425px;
	padding: 0px;
	margin: auto;
}

.head-class {
	min-width: 425px;
	padding: 0px;
	margin: 0px;
  }

  .menu-icon{
	display: block;
	cursor: pointer;
  }

  .navbar-menu {
	display: none;
	width: 100%;
  }

  input {
	min-width: 220px;
	max-width: 300px;
	margin: auto;
  }

  button {
	min-width: 120px;
	max-width: 410px;
  }

  .container2 {
	padding: 5px;
	margin: auto;
	min-width: 415px;
	max-width: 410px;
	height: auto;
  }

  .container {
	padding: 5px;
	margin: auto;
	min-width: 410px;
	max-width: 410px;
	height: auto;
  }

  .imgcontainer1{
	min-width: 410px;
	width: 425px;
	margin:auto;
  }

  .reg {
	text-align: center;
	width: auto;
	margin: 12px;
  }

  .form_contain {
	position: relative;
	margin: auto;
	padding: 5px;
	min-width: 300px;
	max-width: 300px;
  }

  .form_contain_text {
	margin: 0px;
	font-size: 16px;
	min-width: 300px;
	max-width: 300px;
  }

  .navbar-menu.active {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 13%;
	right: 0;
	bottom: 0;
	background-color: rgb(23, 172, 23);
	transform: translateX(100%); /* Initially off-screen */
	transition: transform 0.3s ease;
	transform: translateX(0);
	width: 35%;
	height: 35%;
	z-index: 15;
  }

  .navbar-menu.active a {
	font-size: 12px;
  }
}